<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_add_product_complete">
        <observer name="visualsearch_track_add_to_cart" instance="VisualSearch\Connector\Observer\CartAddObserver"/>
    </event>
    <event name="sales_order_place_after">
        <observer name="visualsearch_track_purchase" instance="VisualSearch\Connector\Observer\OrderPlaceObserver"/>
    </event>
</config>
